.album-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.album-svg {
    color: white;
    width: 7em;
    height: 7em;
}

.album-info-container {
    position: relative;
    text-align: center;
    color: white;
}

.album-top-text {
    position: absolute;
    top: 92%;
    width: 100%;
    font-size: 0.65em;
    background-color: #000000b8;
    border: solid transparent;
    border-radius: 0.5em;
}

.album-list-item {
    width: 9em;
    height: 9em;
    margin: 1px 1px 1px 1px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.album-list-item:hover {
    transform: scale(1.03);
    border: 1px solid #c5cae9;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}