body {
  background-color: #343a40;
  color: #c5cae9;
}

.App {
  text-align: center;
  background-color: #212121;
}

.spinner-custom-background {
  background-color: #343a40;
  width: 100%;
}

.home-content {
  padding-top: 1em;
  padding-bottom: 0.5em;
}
