.metadata-top {
    border: 0 solid #555f69;
    border-bottom-width: 1px;
    font-size: 1.25em;
}

.metadata-footer {
    background: #343a40;
    font-size: 0.75em;
}

.metadata-bottom {
    display: flex;
}

.metadata-user {
    width: 100%;
    border: 0 solid;
    border-right-width: 1px;
    border-image: linear-gradient(to bottom, #555f69, rgba(0, 0, 0, 0)) 1 100%;
}

.metadata-album {
    width: 100%;
}

.centered-text-row {
    display: flex;
}

.half-text-field {
    width: 50%;
    text-align: right;
}

.left {
    text-align: right;
    padding-right: 0.2em;
}

.right {
    text-align: left;
    padding-left: 0.2em;
}
