.pagination-container {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-bottom: 0.5em;
}

.pagination-list-item {
    border: 1px #ffffff5e solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-page-item {
    width: 2em;
    height: 2em;
    border-width: 1px 1px 1px 0;
}

.pagination-page-item:nth-child(2) {
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-left-width: 1px;
    margin-left: 0.5em;
}

.pagination-page-item:nth-last-child(2) {
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-right: 0.5em;
}

.prev-and-next {
    padding: 0 0.5em;
}

.selected {
    background-color: rgb(84, 79, 255);
}

li + li {
    border-left-width: 1px;
}

.pagination-link {
    color: white;
}