.photo-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.photo-list-item {
    margin: 1px 1px 1px 1px;
    border: 1px solid transparent;
}

.photo-list-item:hover {
    transform: scale(1.03);
    border: 1px solid #c5cae9;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}